@charset "UTF-8";
.caixa__h1, .titulo {
  font-size: 4.78rem;
  line-height: 1;
}
@media (max-width: 50em) {
  .caixa__h1, .titulo {
    flex-flow: column;
    align-items: center;
    font-size: 3.98rem;
  }
}
@media (max-width: 31.25em) {
  .caixa__h1, .titulo {
    font-size: 3.32rem;
    line-height: 1.2;
  }
}

.passo__titulo, .caixa__subtitulo {
  font-size: 2.76rem;
  font-weight: 700;
}
.aula__cabecalho {
  font-size: 1.92rem;
}

.popup__botao, .botao {
  font-weight: 700;
  font-size: 1.92rem;
  color: #1a1b1f;
  background-color: #eebe2a;
  padding: 1rem 3.12rem;
  border-radius: 3rem;
  border: 2px;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}
.popup__botao:hover, .botao:hover {
  border: solid 0.2rem #eebe2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/**
 * Basic typography style for copy text
 Nessa tipografia aqui o Diego colocou tudo global só do body - até agora. Então vou seguir esse mesmo raciocínio.
 */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1a1b1f;
}

span {
  font-weight: 600;
}

.titulo {
  font-weight: 500;
}
@media (max-width: 31.25em) {
  .titulo--pequeno {
    font-size: 2.76rem;
  }
}

.subtitulo--pequeno {
  font-size: 3.33rem;
}
@media (max-width: 31.25em) {
  .subtitulo--pequeno {
    font-size: 2.76rem;
  }
}

.secao {
  display: flex;
  flex-flow: column;
  padding: 6.1rem 4.88rem;
}
@media (max-width: 50em) {
  .secao {
    padding: 4.88rem 3.12rem;
  }
}
@media (max-width: 31.25em) {
  .secao {
    padding: 3.12rem 1.6rem;
  }
}

.container {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
  align-items: start;
}

.grid {
  display: grid;
}

.botao--amarelo {
  border-bottom: 0.4rem solid #8d6d0b;
  border-right: 0.4rem solid #8d6d0b;
}
@media (max-width: 31.25em) {
  .botao--amarelo {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
}
.botao--centralizado {
  align-self: center;
}

.caixa {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 3.3rem 2.7rem;
  position: relative;
  z-index: 1;
  margin-bottom: 6.1rem;
  max-width: 50%;
  background-color: #f1f1f1;
  border-radius: 3rem;
  box-shadow: inset 0rem 0rem 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 50em) {
  .caixa {
    max-width: 100%;
    margin-bottom: 0;
    max-width: 53rem;
  }
}
.caixa__lista {
  display: flex;
  flex-flow: column;
  gap: 1.28rem;
  font-size: 1.92rem;
}
@media (max-width: 31.25em) {
  .caixa__lista {
    font-size: 1.33rem;
  }
}
.caixa__item-lista {
  display: flex;
  align-items: start;
  gap: 1.28rem;
}
.caixa__imgcanto {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, -35%);
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 1.5rem 1.3rem;
  width: 6.5rem;
  height: 6.5rem;
}
.caixa__imgcanto img {
  max-width: 100%;
}
.caixa__titulos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
}
.caixa__h1 {
  color: #1c415c;
  text-align: center;
}
.caixa__item-lista {
  font-size: 1.92rem;
  line-height: 1;
}
.caixa__imgcanto {
  box-shadow: inset 0rem 0rem 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
}
.caixa__imgcheck {
  width: 1.8rem;
}

.passo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.passo__cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}
.passo__caixa-icone {
  width: 4.3rem;
  height: 4.3rem;
  padding: 0.65rem;
  background-color: #256783;
  border-radius: 0.8rem;
}
.passo__titulo--azul {
  color: #256783;
}

.aula {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.5rem;
}
.aula__cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.projeto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2rem;
  overflow: hidden;
  background-image: linear-gradient(#003962, #00121f);
  color: #fff;
  padding: 5rem 3rem;
}
@media (max-width: 50em) {
  .projeto {
    grid-template-columns: auto;
  }
}
.projeto__caixa {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.5rem;
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 2rem;
}
.projeto__titulo {
  font-size: 2.76rem;
  color: #eebe2a;
}
.projeto__subtitulo {
  font-size: 2.3rem;
}
.projeto--backgroundimage1 {
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/6669f0cac9a08a51923270cb_pgcpy-img-1.webp);
  background-color: #003962;
  background-repeat: no-repeat;
  background-position: 100%;
  background-blend-mode: multiply;
}
.projeto--backgroundimage2 {
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/6669f0ca1e0979e7b4f04557_pgcpy-img-2.webp);
  background-color: #003962;
  background-repeat: no-repeat;
  background-position: 100%;
  background-blend-mode: multiply;
}
.projeto--backgroundimage3 {
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/6669f0ca1f13bcb7e3756f27_pgcpy-img-3.webp);
  background-color: #003962;
  background-repeat: no-repeat;
  background-position: 100%;
  background-blend-mode: multiply;
}
.projeto--backgroundimage4 {
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/6669f0ca3593f612e4d9d529_pgcpy-img-4.webp);
  background-color: #003962;
  background-repeat: no-repeat;
  background-position: 100%;
  background-blend-mode: multiply;
}

.container--footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: 0;
  width: 100%;
}
.container--footer a {
  text-decoration: none;
  color: inherit;
}

.logo-hashtag {
  width: 3.7rem;
  height: 3.7rem;
}

.popup--aberto .popup {
  display: flex;
}

.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.835);
  z-index: 999;
}
.popup__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1rem;
  position: relative;
  background-color: #f1f1f1;
  box-shadow: 0rem 0rem 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 1rem;
}
.popup__input {
  font-size: inherit;
  box-shadow: 0rem 0rem 0.9rem 0.05rem #eebe2a;
  border: solid 2px #eebe2a;
  padding: 1rem;
  border-radius: 2rem;
}
.popup__botao--amarelo {
  border-bottom: 0.4rem solid #8d6d0b;
  border-right: 0.4rem solid #8d6d0b;
}
.popup__fechar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(35%, -35%);
  color: #fff;
  font-weight: 700;
  background-color: #eebe2a;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 2px #fff;
  line-height: 1;
}

.secao--hero {
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.1rem 4.88rem 0 4.88rem;
  overflow: hidden;
}
@media (max-width: 31.25em) {
  .secao--hero {
    padding: 4.88rem 3.12rem 0 3.12rem;
  }
}
.secao--protecaodados {
  padding: 3.12rem 2rem;
  line-height: 1;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  box-shadow: 0 1rem 1rem -0.2rem rgba(0, 0, 0, 0.123);
}
.secao--lira {
  position: relative;
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/666a079387dbf494587480bd_pgcpy-bg-2.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-bottom: 0;
}
.secao--footer {
  padding: 2.5rem 2rem;
}

.protecao-conteudo {
  font-size: 1.33rem;
}

.img-lira-notebook {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 0;
  transform: translate(10%);
  width: 70%;
}
@media (max-width: 56.25em) {
  .img-lira-notebook {
    transform: translate(10%);
  }
}
@media (max-width: 50em) {
  .img-lira-notebook {
    position: relative;
    transform: none;
    max-width: 53rem;
  }
}
@media (max-width: 31.25em) {
  .img-lira-notebook {
    width: 40rem;
  }
}

.span--azul,
.passo__titulo {
  color: #1c415c;
  font-weight: 700;
}

.container--hero {
  width: 100%;
  position: relative;
}
@media (max-width: 50em) {
  .container--hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3.12rem;
  }
}
.container--protecaodados {
  text-align: center;
}
.container--passo {
  display: flex;
  flex-flow: column;
  gap: 5rem;
}
.container--eventogratuito {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 6rem;
  display: flex;
  flex-flow: column;
}
@media (max-width: 50em) {
  .container--eventogratuito {
    gap: 3.12rem;
  }
}
.container--capaz {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
  padding: 4.88rem 3.9rem;
  background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/6669ea25d9240a2849caa85b_pgcpy-bg-1.webp);
  color: #fff;
}
.container--projetos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  gap: 6.1rem;
}
@media (max-width: 31.25em) {
  .container--projetos {
    gap: 3.12rem;
  }
}
.container--lira {
  width: 100%;
}
@media (max-width: 50em) {
  .container--lira {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    gap: 3.12rem;
  }
}
@media (max-width: 50em) {
  .container--footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 2rem;
  }
}

.img-seta,
.img-seta-depois {
  width: 4.1rem;
}
@media (max-width: 50em) {
  .img-seta,
  .img-seta-depois {
    width: 3rem;
  }
}

.grid--passo {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.1rem;
  row-gap: 3.12rem;
}
@media (max-width: 50em) {
  .grid--passo {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 31.25em) {
  .grid--passo {
    display: flex;
    flex-flow: column;
    gap: 3.12rem;
  }
}
.grid--aprender {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}
@media (max-width: 50em) {
  .grid--aprender {
    gap: 2rem;
  }
}
@media (max-width: 31.25em) {
  .grid--aprender {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.img-lira {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
}
@media (max-width: 50em) {
  .img-lira {
    grid-row: auto;
    grid-column: 1/span 2;
    max-width: 27.5rem;
    justify-self: center;
  }
}

.cabecalho-titulo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}
.cabecalho-titulo--azul {
  background-color: #256783;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  color: #fff;
  align-self: center;
  font-size: 2.76rem;
}
@media (max-width: 31.25em) {
  .cabecalho-titulo--azul {
    font-size: 1.76rem;
    padding: 1.2rem 2rem;
    border-radius: 4rem;
  }
}
.cabecalho-titulo--center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.aprender-img {
  border-radius: 2rem;
}
.aprender-img:hover {
  transform: scale(1.05);
  transition: transform ease-in 100ms;
}

.conteudo-capaz {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}
@media (max-width: 50em) {
  .conteudo-capaz {
    display: grid;
  }
}

@media (max-width: 62.5em) {
  .notebook {
    width: 50vw;
  }
}
@media (max-width: 50em) {
  .notebook {
    grid-row: 2;
    justify-self: center;
  }
}
@media (max-width: 31.25em) {
  .notebook {
    width: 40rem;
  }
}

.conteudo-aula {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
}

.projetos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
}

.lira {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 3rem;
  max-width: 50rem;
  margin-bottom: 6.1rem;
}
@media (max-width: 50em) {
  .lira {
    margin-bottom: 0;
  }
}
.lira__titulo {
  border-left: solid 5px #eebe2a;
  color: #fff;
  padding-left: 2rem;
  line-height: 1.2;
}
.lira__titulo--amarelo {
  color: #eebe2a;
}
.lira__titulo--pequeno {
  font-size: 2.3rem;
}
.lira__conteudo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
}
@media (max-width: 50em) {
  .lira__conteudo {
    max-width: 53rem;
  }
}

.img-lira-python {
  position: absolute;
  bottom: 0;
  right: 9.3rem;
  width: 37.59vw;
  transform: translate(10%);
}
@media (max-width: 62.5em) {
  .img-lira-python {
    width: 37.59vw;
    transform: translate(10%);
  }
}
@media (max-width: 50em) {
  .img-lira-python {
    position: relative;
    transform: translate(20%);
    width: 40rem;
  }
}

@media (max-width: 50em) {
  .logo-hashtag {
    width: 5rem;
    height: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
