// -----------------------------------------------------------------------------
// This file contains all variables, functions, mixins and includes
// -----------------------------------------------------------------------------

// Colors

$cor-preta: #1a1b1f;
$cor-cinza-claro: #f1f1f1;
$cor-azul-escuro: #1c415c;
$cor-amarela: #eebe2a;
$cor-amarelo-escuro: #997a1b;
$cor-branca: #fff;

// Font-size

// $padding-secao: 
// $titulo-h1: 