// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

// Layout Geral

.secao {
  display: flex;
  flex-flow: column;
  padding: 6.1rem 4.88rem;
}

.container {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
  align-items: start;
}

// Layout Seção hero
.caixa {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3.3rem 2.7rem;
  position: relative;
  min-width: 45rem;
  &__lista {
    display: flex;
    flex-flow: column;
    gap: 1.28rem;
  }
  &__item-lista {
    display: flex;
    align-items: start;
    gap: 1.28rem;
  }
  &__imgcanto {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, -35%);
    background-color: $cor-cinza-claro;
    border-radius: 50%;
    padding: 1.5rem 1.3rem;
    width: 6.5rem;
    height: 6.5rem;
    & img {
      max-width: 100%;
    }
  }
}



.img {
  display: flex;
  align-items: flex-end;
  width: 500rem;
  margin-left: -10rem;
  & img {
    width: 100%;
  }
}

// Layout Proteção de Dados



// Layout Quero participar



// Layout Evento gratuito

.container--eventogratuito{
display: flex;
flex-flow: column;  
}

// Layout capacidades


.grid{
  display: grid;
}