// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.botao {
  font-weight: 700;
  font-size: 1.92rem;
  color: $cor-branca;
  background-color: $cor-amarela;
  padding: 1rem 3.12rem;
  border-radius: 3rem;
  border: 2px;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.9rem 0.3rem rgb(0, 0, 0, 0.25);
  &--amarelo {
    border-bottom: 0.4rem solid darken($cor-amarela, 25%);
    border-right: 0.4rem solid darken($cor-amarela, 25%);
  }
  &:hover {
    border: solid 0.2rem $cor-amarela;
  }
}
