// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.botao {
  @extend %botao;
  &--amarelo {
    border-bottom: 0.4rem solid darken($cor-amarela, 25%);
    border-right: 0.4rem solid darken($cor-amarela, 25%);
  }
  &:hover {
    @extend %botao--hover;
  }
  &--centralizado{
    align-self: center;
  }
}
