.passo{
    @include flex($direction: column, $gap: 1.6rem);
    &__cabecalho{
        @include flex($align: center, $gap: 0.8rem)
    }
    &__caixa-icone{
        width: 4.3rem;
        height: 4.3rem;
        padding: 0.65rem;
        background-color: $cor-azul-claro;
        border-radius: 0.8rem;
    }
    &__icone{

    }
    &__titulo{
        @extend %subtitulo;
        &--azul{
            color: $cor-azul-claro;
        }
    }
}

// .passo{
//     display: flex;
//     flex-flow: column;
//     gap: 1.5rem;
//     line-height: 1.5;
//     &__titulo{
//       display: flex;
//       align-items: center;
//       gap: 1rem;
//     }
//     &.passo-2{
//       grid-column: 3;
//       grid-row: 1;
//     }
//     &.passo-3{
//       grid-column: 1;
//       grid-row: 2;
//     }
//     &.passo-4{
//       grid-column: 3;
//       grid-row: 2;
//     }
//   }