.passo{
    @include flex($direction: column, $gap: 1.6rem);
    &__cabecalho{
        @include flex($align: center, $gap: 0.8rem)
    }
    &__caixa-icone{
        width: 4.3rem;
        height: 4.3rem;
        padding: 0.65rem;
        background-color: $cor-azul-claro;
        border-radius: 0.8rem;
    }
    &__titulo{
        @extend %subtitulo;
        &--azul{
            color: $cor-azul-claro;
        }
    }
    &__icone{
        width: 2.663rem;
    }
}